# =================
# JetBrains IDE
# =================
# User-specific stuff
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/shelf
.idea/vcs.xml  # 로컬 VCS 설정

# Sensitive or machine-specific information
.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.local.xml

# Project-specific files that should not be committed
.idea/go_programming.iml # 모듈 파일은 보통 공유하지 않음
.idea/modules.xml

# =================
# Go
# =================
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env
